<div class="jumbotron text-center">
  <h1>WELCOME TO RECIPE RESOLVER ! </h1>
  <p> Let's find you something to make... </p> 
</div>
<div class="center">
  <h3> Ever wanted to try something new for dinner but can't decide what to make? This app will help to solve your problem! </h3>

  <h3> Developed as a proof of concept for the University of Chicago Booth School of Business' 
  Application Development (BUSN36110) course,  a hungry student by the name of Jeremy Brown
  decided to tackle a recurring problem: what should he make for dinner? </h3>

  <h3> With so many options available, sometimes selecting a meal becomes 
  an errand, rather than a joy, and a hobby can feel like a job, rather than a fun activity. </h3>

  <h3> Recipe Resolver's purpose is here to help. Put in any filters you need for your
  preference of food, and let it rip!</h3>

</div>