<div class="jumbotron text-center">
  <h1>WELCOME TO RECIPE RESOLVER ! </h1>
  <p> Let's find you something to make... </p> 
</div>


<div class="container">
    <div class="row align-content-center">
      <div class="col-md-4"><a href="/recipes" class="btn btn-primary" role="button"> Recommend! </a></div>
      <div class="col-md-4"> <select class="custom-select">
              <option selected> Pick a Meal </option>
              <option value="breakfast"> Breakfast </option>
              <option value="lunch"> Lunch </option>
              <option value="dinner"> Dinner </option>
              <option value="snack"> Snack </option>
            </select>`
        </div>
      <div class="col-md-4"><select class="custom-select">
              <option selected> Dietary Restrictions </option>
              <option value="breakfast"> Vegan </option>
              <option value="lunch"> Vegetarian </option>
              <option value="dinner"> Pescetarian </option>
              <option value="snack"> Nut-free </option>
            </select>
        </div>
    </div>
</div>

<div class="row"></div>
